/* ===================================================== */
/* Component:                          Global Stylesheet */
/* Project Name:                      Baker Hill Digital */
/* Project URL:                 www.bakerhilldigital.com */
/* Author(s):       Andrew Hill - andrewjrhill@gmail.com */
/* ===================================================== */

/* ------- */
/* Globals */
/* ------- */

html,
body {
  height: 100%;
}

/* ---------- */
/* Navigation */
/* ---------- */


/* ------ */
/* Header */
/* ------ */

div.container.full-img {
  background: url(../img/background-bw.jpg) no-repeat center center fixed;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
}

div.logo {
  height: 85px;
}
div.logo h1 {
  color: #fff;
  background-color: #ff0051;
  font-size: 3.8rem;
  font-weight: 600;
  cursor: pointer;
  font-family: "Ubuntu";
  text-align: center;
  padding: 20px;
}

/* ------ */
/* About */
/* ----- */


/* -------- */
/* Services */
/* -------- */


/* ------- */
/* Contact */
/* ------- */


/* ------ */
/* Footer */
/* ------ */

